*{
    color: white;
}

:root{
    --blv: rgb(46, 8, 82);
}

/* header */
.bg-1{
    background-image: url(./media/bg-1.jpg);
    background-size: cover;
}

.logo{
    scale: 0.5;
}

/* main */
.blv{
    background-color: var(--blv);
}

.margin{
    margin: 50px 0px;
}

.bg-2{
    background-image: url(./media/bg-2.jpg);
    background-size: cover;
}

.bg-3{
    background-image: url(./media/bg-3.jpg);
    background-size: cover;
}

h3{
    color: #ffc907;
}

.scale{
    scale: 0.7;
}

/* media queries */
@media screen and (max-width: 750px) {
        .col-1{
            display: none;
        } 
        
        .margin{
            margin: 0px;
        }

        .marginb{
            margin-bottom: 50px;
        }

        .margint{
            margin-top: 50px;
        }

        .logo{
            position: relative;
            left: -20%;
        } 
}

